body{
	background: #1C7430;
}
div{
	text-align: center;
	margin-bottom: 0px;
}
.start-div{
	margin-top: 94px;
}
.end-div{
	margin-top: 74px;
}
.deck-div{
	margin: 0 auto;
	color: #fff;
	margin-top: 54px;
	width: 700px;
}
.start-img{
	margin-top: 0px;
	width: 503px;
	height: 262px;
}
.end-img{
	margin-top: 0px;
	width: 516px;
	height: 275px;	
}
.p{
	font-size: 28px;
	font-family: segoe ui,sans-serif;
	font-weight: bold;
	color: #fff;
	opacity: 0.85;
	filter:alpha(opacity=85);
}
div#start-p{
	margin-top: 20px;
	height: 38px;
	text-transform: uppercase;
	letter-spacing: 0.2px;
}
div#end-p{
	margin-top: 9px;
	height: 70px;
	letter-spacing: 0.15px;
}
.button{
	color: #1C7430;
	margin: 0 auto;
	background: #fff;
	opacity: 0.85;
	filter:alpha(opacity=85);
	border-radius: 4px;
	font-family: segoe ui,sans-serif;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0px;
	-webkit-animation: pulsate 1.2s linear infinite;
	-moz-animation: pulsate 1.2s linear infinite;
	-o-animation: pulsate 1.2s linear infinite;
	animation: pulsate 1.2s linear infinite;
}
div#start-button{
	margin-top: 34px;
	width: 104px;
	height: 22px;
	padding: 10px 20px;
}
div#end-button{
	margin-top: 40px;
	width: 68px;
	height: 22px;	
	padding: 10px 30px;
}
div#endscore{
	display: inline-block;
}
a {
	color: #fff;
	text-decoration: none;
}
a#restart {
	font-weight: 600;
	letter-spacing: -0.25px;
}
.deck{
	display: inline-block;
	text-align: right;
	opacity: 0.8;
	filter:alpha(opacity=80);
	font-size: 14px;
	padding: 0px;
	font-family: segoe ui,sans-serif;
	letter-spacing: 0px;
}
div#deck-head-left{
	text-align: center;
	width: 102px;
	height: 19px;
}
div#deck-head-center{
	width: 568px;
	height: 19px;
	font-weight: bold;
}
div#score{
	width: 20px;
	height: 18px;
	font-family:'Conv_chicago',Sans-Serif;
}
.button:hover{
	opacity:0.5;
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}
.cards{
	width: 100px;
	height: 140px;
	cursor: pointer;
	display: inline-block;
}
@keyframes pulsate {
  50% {color: #1C7430; text-shadow: 0 -0.5px rgba(0,0,0,.5), 0 0 2px #ffd, 0 0 2px #1C7430;}
}
@-webkit-keyframes pulsate {
  50% {color: #1C7430; text-shadow: 0 -0.5px rgba(0,0,0,.5), 0 0 2px #ffd, 0 0 2px #1C7430;}
}
@-moz-keyframes pulsate {
  50% {color: #1C7430; text-shadow: 0 -0.5px rgba(0,0,0,.5), 0 0 2px #ffd, 0 0 2px #1C7430;}
}
@-o-keyframes pulsate {
  50% {color: #1C7430; text-shadow: 0 -0.5px rgba(0,0,0,.5), 0 0 2px #ffd, 0 0 2px #1C7430;}
}